* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

main {
	height: 85vh;
	background-image:  url('./assets/ceremony.jpg');
	background-size: cover;
	background-position: center;
	position: relative;
	filter: brightness(60%);
}

h1 {
	color: white;
	font-size: 10rem;
	top: 40%;
	left: 20%;
	position: absolute;
}

header {
	height: 15vh;
	background-color: grey;
	display: flex;
	justify-content: space-between;	 
}

.ul-home-create {
	margin: 4rem;
	width: 16vw;
	list-style: none;
	display: flex;
	justify-content: space-between;
}

.ul-categories {
	list-style: none;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.button-categories {
	margin: 2rem;
	padding: 2rem;
	font-size: 1.5rem;
	border-radius: 6px;
}

.li-categories {
	background-color: white;
	padding: 2rem;
	border-style: solid; 
	width: 13rem;
	z-index: 1;/*z-index only works on positioned elements and flex elements*/
}

.link-home-create {
	text-decoration: none;
	color: white;
	font-size: 2rem;
}

.link-categories {
	color: darkolivegreen;
	text-decoration: none;
	font-size: 1.5rem;	
}
